{% extends 'plantillas.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br>
<h1 class="text-center">Listado de Obras</h1>
<a href="nuevaObra" class="btn btn-primary">
    Agregar Obra
</a>
<hr>
<table class="table table-bordered table-striped table-hover" id="tbl_cargos">
    <thead>
        <tr>
            <th>TITULO</th>
            <th>DESCRIPCION</th>
            <th>FECHA</th>
            <th>FOTO</th>
            <th>INFORMACION</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <body>
        {% for obra in obras %}
        <tr>
            <td>{{ obra.titulo }}</td>
            <td>{{ obra.descripcion }}</td>
            <td>{{ obra.fecha_creacion }}</td>
            <td>
                {% if obra.foto %}
                <img src="{{ obra.foto.url }}" height="350px" width="150px" alt="">
                {% else %}
                NINGUNA FOTO
                {% endif %}
            </td>
            <td>
                {% if obra.informacion %}
                <iframe 
                                src="{{ obra.informacion.url }} " 
                                width="300" 
                                height="250"
                                style="border: 1px solid #ddd; background: #f8f9fa;"
                                title="Vista previa del documento"
                                type="application/pdf">
                            </iframe>
                            <p>{{ obra.informacion.name |slice:"7:" }}</p>
                            <br>
                <a href="{{ obra.informacion.url }}" download class="btn btn-sm btn-primary">Descargar</a>
                <a href="{{ obra.informacion.url }}" target="_blank" class="btn btn-sm btn-secondary">Ver en pestaña</a>
                {% else %}
                NINGUNA INFORMACION
                {% endif %}
            </td>
            <td>
                <a href="editarObra/{{obra.id}}"class="btn btn-warning"><i class="fa fa-edit"></i></a>
                        <a href="#"class="btn btn-outline-danger" onclick="confirmarEliminacion('{{ obra.id }}')">
                            <i class="fa fa-trash"></i>
                        </a> 
                        <!-- Script de SweetAlert -->
                        <script>
                            function confirmarEliminacion(id) {
                                Swal.fire({
                                title: '¿Estás seguro?',
                                text: '¡Esta acción no se puede deshacer!',
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Sí, eliminar',
                                cancelButtonText: 'Cancelar'
                                }).then((result) => {
                                if (result.isConfirmed) {
                                    // Redirige al endpoint de eliminación en Django
                                    window.location.href = `/eliminarObra/${id}`;
                                }
                                });
                            }
                            </script>
            </td>

        </tr>
        {% endfor %}
    </body>
</table>








<br><br><br><br><br><br>
{% endblock %}