{% extends 'plantillas.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Nueva Obra</h1>
    <form action="guardarObra" id="frm_nuevo_obra"
    enctype="multipart/form-data"
    method="post" >
    {% csrf_token %}
    <label for="">Titulo (*):</label><br><br>
    <input placeholder="ingrese el titulo de la obra" class="form-control" type="text" name="titulo" id="titulo"><br><br>
    <label for="">Descripcion (*):</label><br><br>
    <textarea placeholder="ingrese la descripcion de la obra" class="form-control" name="descripcion" id="descripcion"></textarea><br><br>
    <label for="">Fecha de creacion (*):</label><br><br>
    <input placeholder="ingrese la fecha de creacion de la obra" class="form-control" type="date" name="fecha_creacion" id="fecha_creacion"><br><br>
    <label for="">Foto de la obra:</label><br><br>
    <input type="file" name="foto" id="foto" class="form-control"><br><br>
    <label for="">Informacion de la obra:</label><br><br>
    <input type="file" name="informacion" id="informacion" class="form-control"><br><br>
    <button 
        class="btn btn-success"
        type="submit">Guardar</button>
        <a class="btn btn-outline-danger" href="{% url 'inicioob' %}">Cancelar</a><br><br>
    </form>
    </div>
</div>
<script>
    $("#frm_nuevo_obra").validate({
        rules:{
            "titulo":{
                required:true,
                minlength:5,// cuenta caracteres 
                maxlength:20// caracteres maximos
            },
            "descripcion":{
                required:true,
                minlength:5,// cuenta caracteres 
                maxlength:20// caracteres maximos
            },
            "fecha_creacion":{
                required:true,
                date:true // Validación de fecha
            },
            "foto":{
                required:true
            },
            "informacion": {
                required:true
            }
        },
        messages:{
            "nombre":{
                required:"Por favor el Campo es obligatorio",
                minlength:"Ingresar minimo 5 caracteres",// cuenta caracteres 
                maxlength:"Ingresar maxima 20 caracteres"// caracteres maximos
            },
            "apellido":{
                required:"Por favor el Campo es obligatorio",
                minlength:"Ingresar minimo 5 caracteres",// cuenta caracteres 
                maxlength:"Ingresar maxima 20 caracteres"// caracteres maximos
            },

            "fecha_creacion":{
                required:"Por favor el Campo es obligatorio,seleccione al menos una obra"
            },
            "foto":{
                required:"Campo obligatorio por favor agregue una foto"
            },
            "informacion":{
                required:"Campo obligatorio por favor ingrese un pdf"
            }
        }
    });
</script>
<script>
    $("#foto").fileinput({
            language: "es",
            allowedFileExtensions: ["png|jpg|jpeg"],
            showCaption: false,
            dropZoneEnabled: true,
            showClose: false
    });
</script>
<script>
    $("#informacion").fileinput({
            language: "es",
            allowedFileExtensions: ["pdf"],
            showCaption: false,
            dropZoneEnabled: true,
            showClose: false
    });
</script>


{% endblock %}